Package: net.angelxwind.preferenceorganizer2
Name: PreferenceOrganizer 2
Architecture: iphoneos-arm
Description: A simple and free alternative to PreferenceFolders, compatible with iOS 6 and 7. PreferenceOrganizer 2 organises your Settings app into 4 toggleable categories: Apple Apps, Social Apps, Tweaks, and App Store Apps.
Homepage: http://cydia.angelxwind.net/
Depiction: http://cydia.angelxwind.net/?page/net.angelxwind.preferenceorganizer2
Author: Karen, Hiraku, Gary, Eliz, insanj <angelXwind@angelxwind.net>
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 6.0)
Conflicts: com.phillipt.noappsettings, jp.r-plus.cloaky, me.qusic.preferenceorganizer, com.sull.preferenceorganizer, com.sull.preferenceorganizer2, com.sull.preferenceorganizer7
Version: 2.6
Maintainer: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Replaces: org.ilendsoft.preferenceorganizer, com.eliz.preferenceorganizer7
Icon: file:///Library/PreferenceBundles/POPreferences.bundle/Tweaks@2x.png
