Package: com.eliz.preferenceorganizer7
Name: PreferenceOrganizer7
Version: 0.0.1
Architecture: iphoneos-arm
Description: Group preferences on iOS 7 Settings App.
Homepage: http://github.com/elizzk/preferenceorganizer/
Author: Eliz (eliz) <elizkilic@gmail.com>
Section: Tweaks
Depends: mobilesubstrate
dev: eliz