<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2013-2018 Karen/あけみ (angelXwind), Eliz, Julian Weiss (insanj), ilendemli, Hiraku Wang (hirakujira), Gary Lin (garynil)</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>POBannerCell</string>
			<key>height</key>
			<integer>205</integer>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>closeSettings</string>
			<key>label</key>
			<string>APPLY</string>
			<key>cellClass</key>
			<string>POButtonCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPLE_APPS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowAppleApps</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
			<key>cellClass</key>
			<string>POSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>KarenPrefsEditableTextCellWithReturn</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>AppleAppsName</string>
			<key>label</key>
			<string>NAME</string>
			<key>placeholder</key>
			<string>APPLE_APPS</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SOCIAL_APPS</string>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>793.00</string>
					<string>1443.00</string>
				</array>
			</dict>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowSocialApps</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
			<key>cellClass</key>
			<string>POSwitchCell</string>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>793.00</string>
					<string>1443.00</string>
				</array>
			</dict>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>KarenPrefsEditableTextCellWithReturn</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>SocialAppsName</string>
			<key>label</key>
			<string>NAME</string>
			<key>placeholder</key>
			<string>SOCIAL_APPS</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
			<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>793.00</string>
					<string>1443.00</string>
				</array>
			</dict>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TWEAKS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowTweaks</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
			<key>cellClass</key>
			<string>POSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>KarenPrefsEditableTextCellWithReturn</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>TweaksName</string>
			<key>label</key>
			<string>NAME</string>
			<key>placeholder</key>
			<string>TWEAKS</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP_STORE_APPS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowAppStoreApps</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
			<key>cellClass</key>
			<string>POSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>KarenPrefsEditableTextCellWithReturn</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>AppStoreAppsName</string>
			<key>label</key>
			<string>NAME</string>
			<key>placeholder</key>
			<string>APP_STORE_APPS</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DONATE_GROUPCELL_DETAIL</string>
			<key>label</key>
			<string>DONATE_GROUPCELL</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openDonate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>KarenPrefsGreenTextButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>DONATE</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DEBUG_DETAIL</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>syslogSpam</string>
			<key>label</key>
			<string>DEBUG</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-PreferencesChanged</string>
			<key>cellClass</key>
			<string>POSwitchCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>KarenPrefsRedTextButtonCell</string>
			<key>label</key>
			<string>RESET</string>
			<key>action</key>
			<string>resetSettings</string>
			<key>icon</key>
			<string>resetIcon.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>PreferenceOrganizer 2</string>
</dict>
</plist>
