<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>killPreferences</string>
			<key>label</key>
			<string>Apply</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apple Apps</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowAppleApps</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>POEditTextCell</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>AppleAppsName</string>
			<key>label</key>
			<string>Name</string>
			<key>placeholder</key>
			<string>Apple Apps</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Social Apps</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowSocialApps</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>POEditTextCell</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>SocialAppsName</string>
			<key>label</key>
			<string>Name</string>
			<key>placeholder</key>
			<string>Social Apps</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweaks</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowTweaks</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>POEditTextCell</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>TweaksName</string>
			<key>label</key>
			<string>Name</string>
			<key>placeholder</key>
			<string>Tweaks</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Store Apps</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>ShowAppStoreApps</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>POEditTextCell</string>
			<key>defaults</key>
			<string>net.angelxwind.preferenceorganizer2</string>
			<key>key</key>
			<string>AppStoreAppsName</string>
			<key>label</key>
			<string>Name</string>
			<key>placeholder</key>
			<string>App Store Apps</string>
			<key>PostNotification</key>
			<string>net.angelxwind.preferenceorganizer2-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Help</string>
			<key>footerText</key>
			<string>If PreferenceOrganizer 2 doesn&apos;t work, or things are appearing in the wrong sections, check to see if you have any other tweaks installed that modifies the Settings app.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2013-2014 Karen Tsai (angelXwind), Eliz, Julian Weiss (insanj), ilendemli, Hiraku (hirakujira), Gary Lin (gary19930520).</string>
		</dict>
	</array>
	<key>title</key>
	<string>PreferenceOrganizer 2</string>
</dict>
</plist>
